<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %> |
        <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>









<br>

<%= link_to 'New Customer', new_customer_path %> |
<%= link_to 'Bill', bills_path %> |
<%= link_to 'Invoice', invoices_path %>
